<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ .AppName }}</title>
    <link rel="stylesheet" href="static/bulma.min.css"/>
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"/>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            if ( event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2) ) {
                window.location.reload();
            }
        });
    </script>
</head>
<body class="has-background-light hero is-fullheight">
<div class="box">
    <p class="title has-text-centered has-text-black is-bold">
        <i class="fa-solid fa-unlock-keyhole"></i> {{ .AppName }}</p>
    <div class="card {{ if .NeedsLogin }}is-hidden{{ end }}">
        <div class="card-header has-background-info-dark">
            <p class="card-header-title has-text-success-light">
                Welcome {{ .UserName }}
            </p>
        </div>
        <div class="card-content">
            {{ if .Devices }}
            <div>Here is a list of devices with access to your password
                database:
            </div>
            <div>&nbsp;</div>
            <div class="table is-centered is-striped is-bordered">
                <table>
                    <thead>
                    <tr>
                        <th>Registered</th>
                        <th>Last Accessed</th>
                        <th>User Agent</th>
                        <th>Last IP Address</th>
                        <th>Revoke</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .Devices }}
                    <tr>
                        <td>{{ .CreatedAt | HumanizeTime }}</td>
                        <td>{{ if (timeEQ .CreatedAt .UpdatedAt) }}Never{{ else }}{{ .UpdatedAt | HumanizeTime }}{{ end }}</td>
                        <td>
                            {{ if .UserAgentDevice }}
                            <span class="tag is-info">
                                <span class="icon">
                                    <i class="{{.UserAgentDevice | FA}}"></i>
                                </span>
                                <span>{{ .UserAgentDevice | Title }}</span>
                            </span>
                            {{ end }}
                            {{ if .UserAgentOS }}
                            <span class="tag is-link">
                                <span class="icon">
                                    <i class="{{.UserAgentOS | FA}}"></i>
                                </span>
                                <span>{{ .UserAgentOS | Title }}</span>
                            </span>
                            {{ end }}
                        </td>
                        <td>
                            {{ if .LastIP }}
                            <span class="tag is-family-code">{{ .LastIP }}</span>
                            {{ end }}
                            {{ if .LastCountry }}
                            <span class="tag is-dark">
                                <span class="icon">
                                    <i class="{{.LastCountry | FA}}"></i>
                                </span>
                                <span>{{ .LastCountry | ToLower | Title }}</span>
                            </span>
                            {{ end }}
                        </td>
                        <td>
                            <form action="{{ $.HTTPConfig.Endpoints.Revoke }}" method="post">
                                <input type="hidden" name="csrf" value="{{ $.CSRF }}">
                                <input type="hidden" name="id" value="{{ .ID }}">
                                <input type="submit" id="submit-form-revoke-{{ .ID }}" class="is-hidden">
                            </form>
                            <div class="button is-danger is-small" onclick="this.classList.add('is-loading'); document.getElementById('submit-form-revoke-{{ .ID }}').click()">
                                <span class="icon">
                                    <i class="fa-solid fa-ban"></i>
                                </span>
                                <span>
                                    <abbr title="Revoke device access">Revoke</abbr>
                                </span>
                            </div>
                        </td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <div>&nbsp;</div>
            {{ else }}
            <div class="notification is-info" id="notification-no-devices">
                <button class="delete" onclick="document.getElementById('notification-no-devices').classList.add('is-hidden')"></button>
                You don't have any devices registered with your database.
            </div>
            {{ end }}
            <div>&nbsp;</div>
            <div class="columns notification has-background-success-light">
                <div class="column">To grant access to a new application, generate a new secret URL here:</div>
                <form action="{{ .HTTPConfig.Endpoints.Grant }}" method="post">
                    <input type="hidden" name="csrf" value="{{ .CSRF }}">
                    <input type="submit" id="submit-form-grant" class="is-hidden">
                </form>
                <div class="button is-success" onclick="this.classList.add('is-loading'); document.getElementById('submit-form-grant').click()">
                <span class="icon">
                    <i class="fa-solid fa-circle-plus"></i>
                </span>
                    <span>Grant Access</span>
                </div>
            </div>

            <div>&nbsp;</div>

            <div class="notification is-ghost" id="notification-cookies">
                <button class="delete" onclick="document.getElementById('notification-cookies').classList.add('is-hidden')"></button>
                <i class="fa-solid fa-cookie"></i> We are using cookies to protect your browser from attacks.
                <i class="fa-solid fa-cookie-bite"></i> We don't track you or share with 3rd parties.
            </div>

            {{ if .Backups }}{{ else }}
            <div class="notification is-warning" id="notification-no-backups">
                <button class="delete" onclick="document.getElementById('notification-no-backups').classList.add('is-hidden')"></button>
                You don't have backups at this time. They are created automatically.
            </div>
            {{ end }}
            <div>&nbsp;</div>
            <div class="columns has-background-warning-light{{ if .Backups }}{{ else }} is-hidden{{ end }}">
                <div class="column">You can activate a backup copy by choosing the date: </div>
                <div class="column">
                    <div class="dropdown" onclick="this.classList.add('is-active')">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>{{ .BackupActiveModified | HumanizeTime }}</span>
                                <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                {{ range .Backups }}
                                <a href="#backup_{{.ID}}" class="dropdown-item{{if .IsActive}} is-active{{end}}">{{ .CreatedAt | HumanizeTime }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    <div class="button is-warning" onclick="this.classList.add('is-loading')">
                    <span class="icon">
                        <i class="fa-solid fa-trash-can-arrow-up"></i>
                    </span>
                        <span>Activate Backup</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>

    <div class="modal {{ if .NeedsLogin }}is-active{{ end }}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="message has-text-centered">
                <div class="message-header has-background-danger-dark">Sign-in
                    required
                </div>
                <div class="message-body has-background-danger-light">
                    <div>In order to access this page you need to log in with
                        your {{ .BrandName }} account.
                    </div>
                    <div>&nbsp;</div>
                    <form action="{{ .HTTPConfig.Endpoints.Login }}" method="post">
                        <input type="hidden" name="csrf" value="{{ .CSRF }}">
                        <input type="submit" id="submit-form-login" class="is-hidden">
                    </form>
                    <div class="button is-primary is-large" onclick="this.classList.add('is-loading'); document.getElementById('submit-form-login').click()">Login</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tag is-ghost has-text-grey">This site or product includes IP2Location LITE data available from &nbsp;
    <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.</div>
</body>
</html>
